<a [routerLink]="['/details', housingLocation.id]">
  <section class="listing" style="cursor: pointer">
    <img
      class="listing-photo"
      [src]="housingLocation.photo"
      alt="Exterior photo of {{ housingLocation.name }}"
      crossorigin
    />
    <h2 class="listing-heading">{{ housingLocation.name }}</h2>
    <div style="display: flex; align-items: center">
      <img
        alt="location"
        src="../../../assets/location.png"
        height="30px"
        width="30px"
      />
      <p class="listing-location">
        {{ housingLocation.city }}, {{ housingLocation.state }}
      </p>
    </div>
  </section>
</a>

